footer
    background $azulBg
    border-top 2px solid $azul
    .center
        padding 18px 0
    .wrapper
        display flex
    .informacoes
        img
            display block
            max-width 100%
        p
            montserrat 12
            color $azul
            margin 28px 0 0
            +mobile()
                margin-top 18px
            a:hover
                color #000
    .links
        margin-left auto
        padding-top 36px
        +below($tablet)
            display none
        + .links
            margin-left 120px
        a
            display block
            montserrat 14 medium
            color $azul
            &:hover
                color #333
            + a
                margin-top 3px
    .termos
        max-width 1000px
        border-top 1px solid $azul
        margin 40px auto 15px
        padding-top 15px
        +below($tablet)
            margin-top 20px
        p
            montserrat 10
            color $azul
            margin 0 auto
            max-width 745px
            text-align center
    .copyright
        montserrat 9 medium
        color $azul
        text-align center
        +mobile()
            line-height 1.5
        span
            margin 0 4px
            +mobile()
                margin 0
                display block
                font-size 0
        a:hover
            color #333
