header
    border-top 1px solid $azul
    position relative
    z-index 100
    .wrapper
        display flex
        margin 37px 0
        align-items flex-end
        +below($tablet)
            margin 20px 0
    .logo
        width 425px
        height 90px
        background $img('marca-farmabioedu-cabec.png') no-repeat center
        text-indent -9999px
        +below($tablet)
            width calc('100% - 60px')
            max-width 425px
            height auto
            background none
            text-indent 0
            font-size 0
            img
                width 100%
    .btn-area-restrita
        montserrat 16
        color $azul
        margin-left auto
        padding 5px 7px
        +below($tablet)
            display none
        &:hover
            color #333
        &.active
            background $azulDestaque
            color $azul
    #mobile-toggle
        margin-left auto
        background-color transparent
        border 0
        position relative
        width 28px
        align-self stretch
        outline 0
        padding 0
        cursor pointer
        +above($tablet)
            display none
        .lines
            display block
            width 100%
            height 4px
            background $azul
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $azul
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    #nav-desktop
        display flex
        +below($tablet)
            display none
        a
            height 115px
            background $azul
            flex 1 0
            border-radius 0 0 8px 8px
            position relative
            transition background .3s
            + a
                margin-left 10px
            &.active
            &:hover
                background $azulDestaque
                .nome
                    color $azul
            .icone
                display block
                width 100%
                height 100%
                position absolute
                top 15px
                left 0
                &.home
                    background $img('menu-home.png') no-repeat center top
                &.sobre
                    background $img('menu-sobre.png') no-repeat center top
                &.aulas
                    background $img('menu-aulas.png') no-repeat center top
                &.palestrantes
                    background $img('menu-palestrantes.png') no-repeat center top
                &.calendario
                    background $img('menu-calendario.png') no-repeat center top
                &.conselhos
                    background $img('menu-conselhosregionais.png') no-repeat center top
            .nome
                display flex
                width 100%
                height 60px
                position absolute
                left 0
                bottom 0
                align-items center
                justify-content center
                text-align center
                montserrat 14
                color #fff
                line-height 1.3
                transition color .3s
    #nav-mobile
        display none
        background $azul
        padding 25px 5%
        text-align right
        +above($tablet)
            display none !important
        a
            display block
            montserrat 14 medium
            color #fff
            &.active
                color $azulDestaque
            + a
                margin-top 4px
            &:last-child
                margin-top 12px
