.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.main
    margin-top -64px
    margin-bottom 90px
    position relative
    +tablet()
        margin-bottom 60px
    +mobile()
        margin-bottom 40px
    &:before
        content ''
        position absolute
        width 100%
        height 50px
        top 0
        left 0
        background-image linear-gradient(to bottom, rgba(#000, .12) 0%, transparent 40%)
    +below($tablet)
        margin-top 0

.video-wrapper
    position relative
    padding-bottom 56.25%
    height 0
    overflow hidden
    max-width 100%
    iframe
        position absolute
        top 0
        left 0
        width 100%
        height 100%

.erro
.sucesso
    width 100%
    display block
    background #dc4747
    padding 15px 20px
    montserrat 13 medium
    text-transform uppercase
    color #fff
    border-radius 4px
    margin-bottom 10px
    line-height 1.5
    text-align left
.sucesso
    background #5cad5c

.form-padrao
    width 100%
    max-width 560px
    .row
        margin-bottom 5px
        display flex
        label
            text-align right
            background $azulDestaque
            montserrat 12 medium
            padding 13px 10px 0 0
            width 135px
            margin-right 5px
        input
        textarea
            flex 1
            background #E6F1F2
            padding 0 10px
            montserrat 14 medium
            color $azul
            outline 0
            border 0
            height 40px
        textarea
            display block
            resize none
            padding 10px
            height 190px
    input[type=submit]
        border 1px solid $azul
        height 52px
        width 100%
        display block
        montserrat 24 semi
        color $azul
        background #fff
        outline 0
        cursor pointer
        transition background .3s, color .3s
        &:hover
            background $azul
            color #fff
    +mobile()
        .row
            display block
            label
                display block
                width 100%
                height 40px
                text-align left
                padding-left 10px
            input
            textarea
                width 100%
        input[type=submit]
            height 42px
            font-size 20px
