desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul         = #015AA0
$azulBg       = #E6F1F2
$azulDestaque = #1FECFF
$azulTitulo   = #00C9DC

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700')

montserrat($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == light
        font-weight 300
    if $weight == medium
        font-weight 500
    if $weight == bold
        font-weight 700
