.aulas
    .aulas-lista
        width 30%
        float left
        +mobile()
            border-top 2px solid $azulBg
            width 100%
            margin-top 25px
            padding-top 25px
        a
            display flex
            align-items center
            + a
                margin-top 10px
            .palestrante-imagem
                padding-left 12px
                position relative
                margin-right 10px
                img
                    width 68px
                    height 68px
                    border-radius 100%
                span
                    position absolute
                    left 0
                    top 50%
                    transform translateY(-50%)
                    display block
                    background $azulDestaque
                    color $azul
                    montserrat 11 bold
                    padding 5px
            .palestrante-texto
                h4
                    montserrat 13 light
                    color $azul
                    text-transform uppercase
                    margin 0 0 8px
                    padding-bottom 8px
                    position relative
                    &:after
                        content ''
                        position absolute
                        bottom 0
                        left 0
                        width 60px
                        height 1px
                        background $azulDestaque
                h5
                    margin 0
                    color $azul
                    montserrat 10
            &.active
                .palestrante-imagem span
                    background $azul
                    color #fff
    .aulas-descricao
        margin-top 36px
        clearfix()
        +tablet()
            margin-top 30px
        +mobile()
            margin-top 24px
        .palestrante-imagem
            padding-left 20px
            position relative
            float left
            +below($tablet)
                width 100%
                margin-bottom 10px
            img
                width 120px
                height 120px
                border-radius 100%
            span
                position absolute
                left 0
                top 50%
                transform translateY(-50%)
                display block
                background $azulDestaque
                color $azul
                montserrat 20 bold
                padding 5px
        .palestrante-texto
            width calc('100% - 164px')
            float right
            +below($tablet)
                width 100%
            h2
                montserrat 22 light
                color $azul
                text-transform uppercase
                margin 30px 0 10px
                padding-bottom 10px
                position relative
                &:after
                    content ''
                    position absolute
                    bottom 0
                    left 0
                    width 100px
                    height 1px
                    background $azulDestaque
            h3
                margin 0
                color $azul
                montserrat 18 light
            +tablet()
                h2
                    font-size 20px
                    margin-top 0
                h3
                    font-size 17px
            +mobile()
                h2
                    font-size 18px
                    margin-top 0
                h3
                    montserrat 16

.main.aulas .aula-quiz
    float left
    width 100%
    margin-top 80px
    +mobile()
        margin-top 40px
    h4
        color $azulTitulo
        montserrat 22
        padding-bottom 16px
        border-bottom 1px solid $azulDestaque
        margin 0
        +mobile()
            font-size 20px
    .aula-questao
        position relative
        padding 16px 0
        padding-left 56px
        border-bottom 1px solid $azulDestaque
        > span
            position absolute
            left 0
            top 16px
            display block
            background $azulDestaque
            color $azul
            montserrat 20 bold
            padding 5px
        p
            montserrat 18 bold
            color $azul
            margin 3px 0 1em
            +mobile()
                font-size 16px
                margin-top 5px
        label
            display block
            padding-left 25px
            position relative
            min-height 20px
            cursor pointer
            montserrat 17
            color $azul
            +mobile()
                font-size 15px
            &.correta
                color $azulTitulo
                font-weight bold
                .custom-radio:after
                    opacity 1
                    background $azulTitulo
            &.selecao
                font-weight bold
                color $azul !important
                .custom-radio:after
                    opacity 1
                    background $azul
            + label
                margin-top 8px
            input
                position absolute
                opacity 0
                height 0
                width 0
            .custom-radio
                position absolute
                width 18px
                height 18px
                left 0
                top 1px
                border 2px solid $azul
                border-radius 100%
                &:after
                    content ''
                    position absolute
                    left 50%
                    top 50%
                    width 10px
                    height 10px
                    transform translate(-50%, -50%)
                    background $azul
                    opacity 0
                    transition opacity .3s
                    border-radius 100%
            input:checked ~ .custom-radio:after
                opacity 1
        button
            display inline-block
            border 1px solid $azulTitulo
            montserrat 14 bold
            color $azulTitulo
            padding 8px 16px
            cursor pointer
            background none
            outline 0
            margin-top 1em
            &.certo
            &.errado
                cursor default
            &.certo
                background $azulDestaque
                border 1px solid $azulDestaque
                color $azul
            &.errado
                background $azul
                border 1px solid $azul
                color #fff
        &.respondida label
            cursor default !important
