.auth
    color $azul
    .banner
        width 100%
        height 550px
        background $img('banner-home.jpg') no-repeat center $azulBg
        background-size cover
        .center
            height 100%
            padding-top 100px
        .wrapper
            width 100%
            max-width 560px
            margin-left auto
        +tablet()
            background-position 60% center
            .center
                padding 0
                display flex
                align-items center
        +mobile()
            height auto
            background $azulBg
            .center
                padding 30px 0
    h2
        montserrat 14 light
        margin 0 0 1.5em
        text-align center
        a
            display inline-block
            margin-left 5px
            padding 2px 4px
            transition all .3s
            font-weight 500
            span
                display inline-block
                transform translateY(-2px)
            &:hover
                background #dc4747
                color #fff
    .form-login
        margin-bottom 54px
        +mobile()
            margin-bottom 35px
        .form-login-content
            clearfix()
        .fields
            width calc('100% - 110px')
            float left
            input
                display block
                width 100%
                height 50px
                background #fff
                padding 0 10px
                montserrat 16
                color $azul
                outline 0
                border 0
                + input
                    margin-top 5px
            +mobile()
                width calc('100% - 85px')
                input
                    font-size 15px
        input[type=submit]
            width 105px
            height 105px
            float right
            background $img('seta-enviar.png') no-repeat center $azulDestaque
            border 0
            outline 0
            cursor pointer
            transition background .3s
            text-indent -9999px
            &:hover
                background-color $azul
            +mobile()
                width 80px
        .btn-esqueci
            montserrat 11
            display block
            text-align center
            margin-top 12px
            &:hover
                color #333
    .btn-cadastro
        display block
        border 1px solid $azul
        text-align center
        montserrat 14 light
        padding 15px
        transition all .3s
        &:hover
            background #fff
            box-shadow 0 1px 5px rgba(#000, .3)
        +mobile()
            font-size 13px
    .form-cadastro
        .row
            input
                background #fff
        input[type=submit]
            background transparent
            transition all .3s
            &:hover
                background #fff
                box-shadow 0 1px 5px rgba(#000, .3)
                color $azul
