.texto.calendario
    .calendario-curso
        margin-top 55px !important
        +tablet()
            margin-top 40px !important
        +mobile()
            margin-top 30px !important

.calendario-curso
    h3
        montserrat 20 medium
        margin 0 0 .75em
        text-transform uppercase
    p
        margin 0 !important
    +tablet()
        h3
            font-size 18px
    +mobile()
        h3
            font-size 16px
