.texto .texto-conteudo h1 + .conselhos-conselho
    margin-top 55px !important
    +tablet()
        margin-top 40px !important
    +mobile()
        margin-top 30px !important

.conselhos-conselho
    + .conselhos-conselho
        margin-top 30px
        +mobile()
            margin-top 20px
    h3
        montserrat 16 bold
        margin 0 0 .5em
        text-transform uppercase
    p
        margin 0 !important
    +mobile()
        h3
            font-size 15px
