.contato
    .contato-informacoes
        width 35%
        float left
        padding-top 55px
        color $azul
        .telefone
            montserrat 22 medium
            margin 0 0 .3em
        .endereco
            montserrat 16 light
            margin 0
        +tablet()
            width 30%
            padding-top 38px
            .telefone
                font-size 20px
            .endereco
                montserrat 15
        +mobile()
            width 100%
            padding-top 0
            margin-bottom 25px
            .telefone
                font-size 17px
            .endereco
                montserrat 14
