.home
    .banner
        width 100%
        height 550px
        background $img('banner-home.jpg') no-repeat center $azulBg
        background-size cover
        .center
            height 100%
            display flex
            align-items center
            justify-content flex-end
        .banner-frase
            montserrat 36 light
            text-align right
            color $azul
            line-height 1.5
            max-width 575px
            padding-top 20px
        +tablet()
            height 400px
            background-position 75% center
            .banner-frase
                font-size 28px
                max-width 485px
        +mobile()
            height auto
            background $azulBg
            .center
                justify-content center
            .banner-frase
                text-align center
                montserrat 18
                padding 25px 0
    .home-palestrantes
        display flex
        justify-content center
        flex-wrap wrap
        margin-bottom -30px
        .palestrante
            width 33.333%
            padding 0 20px
            color $azul
            text-align center
            margin-bottom 30px
            img
                display block
                margin 0 auto 20px
                border-radius 100%
            .nome
                montserrat 22 light
                text-transform uppercase
                display block
                position relative
                padding-bottom 10px
                margin-bottom 10px
                &:after
                    content ''
                    width 100%
                    max-width 100px
                    height 1px
                    background $azulDestaque
                    position absolute
                    bottom 0
                    left 50%
                    transform translateX(-50%)
            .apresentacao
                montserrat 16 light
                line-height 1.5
            +tablet()
                width 50%
                .nome
                    font-size 20px
                .apresentacao
                    font-size 15px
            +mobile()
                width 100%
                .nome
                    font-size 18px
                .apresentacao
                    font-size 14px

.home-frase
    margin 55px 0 110px
    montserrat 18 medium
    text-align center
    color $azul
    +tablet()
        margin 30px 0 55px
        font-size 17px
    +mobile()
        margin 25px 0 40px
        font-size 16px
