.texto.palestrantes
    .texto-conteudo
        h1
            margin-bottom 1em

.palestrantes .palestrante
    clearfix()
    img
        width 120px
        float left
        border-radius 100%
    .palestrante-texto
        width calc('100% - 140px')
        float right
        h3
            margin 25px 0 10px
            padding-bottom 10px
            position relative
            montserrat 22 light
            text-transform uppercase
            &:after
                content ''
                position absolute
                width 100px
                height 1px
                bottom 0
                left 0
                background $azulDestaque
        h4
            margin 0 0 25px
            montserrat 18 light
        p
            margin 0
    + .palestrante
        margin-top 40px
    +tablet()
        .palestrante-texto
            h3
                font-size 20px
            h4
                font-size 17px
    +mobile()
        .palestrante-texto
            width 100%
            h3
                font-size 18px
                margin-top 15px
            h4
                montserrat 15
        + .palestrante
            margin-top 30px
