.texto
    padding-top 110px
    .center
        clearfix()
    .texto-icone
        width 35%
        float left
        img
            display block
            max-width 100%
    .texto-conteudo
        width 65%
        float right
        color $azul
        *:last-child
            margin-bottom 0 !important
        h1
            montserrat 36 light
            color $azulTitulo
            text-transform uppercase
            margin 0 0 .5em
            + *
                margin-top 0 !important
        p
            montserrat 16
            margin 2em 0
        a
            text-decoration underline
            color $azulTitulo
            &:hover
                text-decoration none
        ul
            padding 0
            margin 1em 0
            li
                list-style-type none
                padding-left 1em
                montserrat 16
                line-height 1.5
                position relative
                &:before
                    content '\00b7'
                    position absolute
                    left 0
                + li
                    margin-top .5em
    +tablet()
        padding-top 40px
        .texto-icone
            width 25%
        .texto-conteudo
            h1
                font-size 28px
            p
            ul li
                font-size 15px
    +mobile()
        padding-top 30px
        .texto-icone
            display none
        .texto-conteudo
            width 100%
            h1
                font-size 22px
            p
            ul li
                font-size 14px
